.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction-container {
    width: 50%;

    .transactions-list {
        padding: 20px;
        margin: 20px;

        .transaction-item {
            box-shadow: inset 10px 0 0;
            margin: 5px;
            padding: 10px 20px;
        }

        .income-item {
            background-color: #8fbc8f24;
            color: green;
        }

        .expense-item {
            background-color: #bc8f8f24;
            color: red;
        }

        .transaction-card {
            width: 100%;

            hr {
                margin-top: 10px;
            }

            .transaction-category {
                margin: 10px;

                &.income-category {
                    border-color: green;
                    color: green;
                }

                &.expense-category {
                    border-color: red;
                    color: red;
                }
            }

            .card-controls {
                display: flex;
                position: absolute;
                left: 100%;
                transform: translate(-150%, -7px);

            }

            .transaction-date-time {
                text-align: right;
            }

            .delete-confirmation {
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: #ffffffbd;
                color: red;

                &__content {
                    height: 40%;
                    width: 60%;
                    background-color: #fff;
                    box-shadow: 0 0 40px 9px #ff00002e;
                    color: #9b3737;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 15px;
                }
            }
        }
    }
}

.transaction-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .amount {
        font-size: 20px;
        letter-spacing: 1px;
        margin: 5px 0;
    }

    .income {
        color: green
    }

    .expense {
        color: red;
    }

    &__content {
        display: flex;
        box-shadow: 0 0 10px #77777775;
        padding: 20px 0;

        div {
            flex: 1;
            text-align: center;
            padding: 0 20px;
            text-align: center;
            width: 120px;
        }

        div:first-of-type {
            border-right: 1px solid #dcd9d9
        }
    }
}

.search {
    .searchbar-icon {
        cursor: pointer;
    }
}

.chart {
    margin-bottom: 30px;
}

.add-new {
    position: sticky;
    top: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 9;

    .add-new__button {
        width: fit-content;
        margin-right: 20px;
    }

    .transaction-form {

        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px;
        margin: 20px;
        background-color: #dedede;
        border-radius: 20px;
        box-shadow: 0 0 10px #dedede45;

        &__controls {
            width: fit-content;
            justify-self: right;
        }


        &__controls {
            width: 100%;
            margin: 15px 0;
            display: flex;
            justify-content: space-between;
        }

        &__buttons {
            text-align: right;

            button {
                margin-right: 10px;
                width: fit-content;
            }
        }

        .transaction-field {
            margin: 10px 0;
        }

        .income-input {
            .MuiInputBase-root {
                box-shadow: inset -10px 0 0 green;
            }
        }

        .expense-input {
            .MuiInputBase-root {
                box-shadow: inset -10px 0 0 red;
            }
        }

        .justify-end {
            justify-self: flex-end;
        }

        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

}


@media (max-width: 600px) {
    .transaction-container {
        width: 100%;
    }
}